%h1 Editing Channel
= form_for(@channel) do |f|
  - if @channel.errors.any?
    #error_explanation
      %h2
        = pluralize(@channel.errors.count, "error")
        prohibited this @channel from being saved:
      %ul
        - @channel.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, class:'control-label'
    = f.text_field :name, class: 'form-control',
      placeholder: 'Введите предпочитаемое название канала'
  .form-group
    = f.label :link, class:'control-label'
    = f.text_field :link, class: 'form-control',
      placeholder: 'Введите username канала в виде @channelusername'
  .form-group
    = f.label :rules, class:'control-label'
    = f.text_area :rules, class: 'form-control',
      placeholder: 'Введите правила канала'
  .actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Back', channels_path, class: 'btn btn-default'
