= form_for(auction) do |f|
  - if auction.errors.any?
    #error_explanation
      %h2
        = pluralize(auction.errors.count, "error")
        prohibited this auction from being saved:
      %ul
        - auction.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :start_price
    = f.text_field :start_price
  .field
    = f.label :bet
    = f.text_field :bet
  .field
    = f.label :current_price
    = f.text_field :current_price
  .field
    = f.label :participants
    = f.text_field :participants
  .field
    = f.label :history
    = f.text_field :history
  .actions
    = f.submit
