= form_for(auction) do |f|
  - if auction.errors.any?
    #error_explanation
      %h2
        = pluralize(auction.errors.count, "error")
        prohibited this auction from being saved:
      %ul
        - auction.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, class:'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description, class:'control-label'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :image_1, class:'control-label'
    = f.file_field :image_1, class: 'form-control'
    = 'Размер файла не более 10 MB'
  .form-group
    = f.label :image_2, class:'control-label'
    = f.file_field :image_2, class: 'form-control'
    = 'Размер файла не более 10 MB'
  .form-group
    = f.label :start_price, class:'control-label'
    = f.number_field :start_price, class: 'form-control', min: '0'
  .form-group
    = f.label :bet_price, class:'control-label'
    = f.number_field :bet_price, class: 'form-control', min: '0'
  .form-group
    = f.label :end_price, class:'control-label'
    = f.number_field :end_price, class: 'form-control', min: '0'
  .form-group
    = f.label :auction_time, class:'control-label'
    = f.number_field :auction_time, class: 'form-control', id: 'time', min: '0', placeholder: 'Введите время в минутах'
    %p#time_p.bg-info.text-center{hidden: true}
  .form-group
    = f.label :channel, class:'control-label'
    = f.select :channel, options_from_collection_for_select(@channels, "link", "name"), {}, { class: 'form-control' }
    %button.btn.btn-info#add-channel.mt-10{type: 'button'} Добавить новый канал
    .form-group#new-channel{hidden: true}
      %br
      %input.form-control#channel-name{placeholder: 'Введите предпочитаемое название канала'}
      %br
      %input.form-control#channel-link{placeholder: 'Введите username канала в виде @channelusername'}
      %br
      %button.btn.btn-success#create-channel{type: 'button'} Сохранить новый канал
      %button.btn.btn-danger#cancel{type: 'button'} Отмена
  .actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Back', root_path, class: 'btn btn-default'
