%h1.text-center Auction Lots
.row
  .col-xs-12.mt-20
    .title-control.pull-right.mb-10
      = link_to 'New Auction', new_auction_path, class: 'btn btn-default'
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.info
        %th Name
        %th Start price
        %th Bet Price
        %th Current price
        %th.text-center.thin-column{colspan: 2}= 'Actions'
    %tbody
      - @auctions.each do |auction|
        %tr
          %td
            %h5
              %strong= link_to auction.name, auction
          %td= auction.start_price
          %td= auction.bet_price
          %td= auction.current_price
          %td.text-center
            = link_to 'Edit', edit_auction_path(auction), class: 'btn btn-default'
          %td.text-center
            = link_to 'Destroy', auction, method: :delete, class: 'btn btn-danger',
              data: { confirm: 'Are you sure?' }
