.row
  .col-md-12.col-xs-12
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', :href => '#lot'}
              Auction Lot
        #lot.panel-collapse.collapse
          .panel-body
            %p
              %strong Name:
              = @auction.name
            %p
              %strong Image_1:
              = image_tag @auction.image_1, class: 'img-thumbnail media-object', size: '250x250'
            %p
              %strong Image_2:
              = image_tag @auction.image_2, class: 'img-thumbnail media-object', size: '250x250'
            %p
              %strong Start price:
              = @auction.start_price
            %p
              %strong Bet:
              = @auction.bet_price
            %p
              %strong Current price:
              = @auction.current_price

            = link_to 'Edit', edit_auction_path(@auction), class: 'btn btn-default'
            / = link_to 'Back', root_path, class: 'btn btn-default'
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#participants"}
              Participants
        #participants.panel-collapse.collapse
          .panel-body
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr.info
                    %th User ID
                    %th First Name
                    %th Last Name
                    %th.thin-column= 'Actions'
                %tbody
                  - @auction.participants.each do |participant|
                    %tr
                      %td.id= participant['id']
                      %td.first_name= participant['first_name']
                      %td.last_name= participant['last_name']
                      %td
                        - if @auction.check(participant['id'])
                          %button.btn.btn-danger.ban Ban
                        - else
                          ='Banned'
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#history"}
              History
        #history.panel-collapse.collapse
          .panel-body
            %ul
              - @auction.history.each do |event|
                %li
                  %span= "[#{event['time']}] "
                  %strong= "#{event['full_name']} "
                  поднял ставку на
                  %strong= "#{event['bet']}"
    .pull-right
      = link_to 'Start Auction', start_auction_path, class: 'btn btn-primary'
      = link_to 'Stop Auction', stop_auction_path, class: 'btn btn-danger'
