%p#notice= notice
%p
  %strong Name:
  = @auction.name
%p
  %strong Image_1:
  = image_tag @auction.image_1, class: 'img-thumbnail'
%p
  %strong Image_2:
  = image_tag @auction.image_2, class: 'img-thumbnail'
%p
  %strong Start price:
  = @auction.start_price
%p
  %strong Bet:
  = @auction.bet
%p
  %strong Current price:
  = @auction.current_price
%p
  %strong Participants:
  = @auction.participants
%p
  %strong History:
  = @auction.history
= link_to 'Edit', edit_auction_path(@auction)
|
\#{link_to 'Back', root_path}
